.card-pink {
	background: #EE9191;
padding: 30px;
border-radius: 4px;
box-shadow: 0 10px 30px rgba(0,0,0,.1); 
width: 100%;   
margin: 20px auto;
text-align: center;
color: #EEEEEE;
font-family: Candara, sans-serif;
}

.container {
	width: 700px;
	margin: 40px auto;
}

#profimg{
	height: 150px;
	border-radius: 50%;
}

body {
	background-color:#ffebeb;

}
a:link {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

a:hover{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 22px;
}

:root {
  --colour-black: #1e1e1e;
  --colour-white: #ffffff;
  --font-family: Lato,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  --font-size: 100%;
}

button,
.button{
  --button: hsl(0, 0%, 12%);
  --button-hover: hsl(0, 0%, 20%);
  --button-active:  hsl(0, 0%, 30%);
  --button-visited: hsl(0, 0%, 20%);
  --button-colour: var(--colour-white);
  --button-border: var(--colour-black);
}
button {
  padding: .9rem 1.7rem;
  color: var(--button-colour);
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  background: var(--button);
  border: solid 1px var(--button-border);
  box-shadow: inset 0 0 0 2px var(--colour-white);
  margin-right: 1em;
}
.button--tertiary {
  --button: hsl(0, 100%, 96%);
  --button-hover: hsl(0, 100%, 94%);
  --button-active:  hsl(0, 100%, 84%);
  --button-visited: hsl(0, 100%, 94%);
  --button-colour: var(--colour-black);
   --button-border: var(--colour-black);
}

button:hover {
  text-decoration: underline;
  background: var(--button-hover);
  box-shadow: inset 0 0 0 4px var(--colour-white);
}

button:active {
  background: var(--button-active);
}

button:visited {
  background: var(--button-visited);
}
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
